<% content_for :header do %>
	<h1><%= "#{@contact[:first_name]} #{@contact[:last_name]}" %></h1>
	<a href="/contacts">All Contacts</a>
<% end %>

<dl>
	<dt>Phone Number: </dt>
	<dd><%= @contact[:phone_number] %></dd>
</dl>
<dl>
	<dt>Email: </dt>
	<dd><%= @contact[:email] %></dd>
</dl>

<a href="/contacts/<%= @id %>/edit">Edit</a>

<form action="/contacts/<%= @contact[:id] %>/delete" method="post">
	<button type="submit" class="delete">Delete List</button>
</form>